In [3]:
import pandas as pd
df = pd.read_csv("Untitled spreadsheet - Women's13-14record.csv")
df.head()

,School,4-Class,GSR Rate,School.1,Overall G,Overall W,Overall L,Overall W-L%
0,Abilene Christian University,92-c,0.92,Abilene Christian,30,18,12,0.600
1,Alabama A&M University,64-c,0.64,Alabama A&M,30,6,24,0.200
2,Alabama State University,91-c,0.91,Alabama State,30,16,14,0.533
3,Alcorn State University,73-c,0.73,Alcorn State,30,8,22,0.267
4,American University,100-c,1.00,American,32,22,10,0.688

In [4]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1.0]
labels = [5, 4, 3, 2, 1]  # Lower number = better category

# Apply categorization
df['Win Category'] = pd.cut(df['Overall W-L%'], bins=bins, labels=labels, include_lowest=True, right=False)

# Optional: convert category to int
df['Win Category'] = df['Win Category'].astype(float)

In [5]:
df.head()

,School,4-Class,GSR Rate,School.1,Overall G,Overall W,Overall L,Overall W-L%,Win Category
0,Abilene Christian University,92-c,0.92,Abilene Christian,30,18,12,0.600,2.0
1,Alabama A&M University,64-c,0.64,Alabama A&M,30,6,24,0.200,4.0
2,Alabama State University,91-c,0.91,Alabama State,30,16,14,0.533,3.0
3,Alcorn State University,73-c,0.73,Alcorn State,30,8,22,0.267,4.0
4,American University,100-c,1.00,American,32,22,10,0.688,2.0

In [6]:
# Group by Win Category and calculate the average GSR Percentage
avg_gsr_by_win_category = df.groupby("Win Category")["GSR Rate"].mean().reset_index()

# Optional: Rename columns for clarity
avg_gsr_by_win_category.columns = ["Win Category", "Average GSR Percentage"]

# Display result
print(avg_gsr_by_win_category)

   Win Category  Average GSR Percentage
0           1.0                0.901579
1           2.0                0.867979
2           3.0                0.869206
3           4.0                0.846860
4           5.0                0.841667

In [7]:
# Group by Win Category and calculate the average GSR Percentage
avg_gsr_by_win_category = df.groupby("Win Category")["GSR Rate"].median().reset_index()

# Optional: Rename columns for clarity
avg_gsr_by_win_category.columns = ["Win Category", "Average GSR Percentage"]

# Display result
print(avg_gsr_by_win_category)

   Win Category  Average GSR Percentage
0           1.0                    0.92
1           2.0                    0.91
2           3.0                    0.91
3           4.0                    0.88
4           5.0                    0.89

In [8]:
df["Win Category"].value_counts().sort_index()

Win Category
1.0     19
2.0     94
3.0    126
4.0     86
5.0     18
Name: count, dtype: int64

In [9]:
#Men's Basketball

In [10]:
import pandas as pd
df2 = pd.read_csv("Untitled spreadsheet - men's 13-14records.csv")
df2.head()

,School,4-Class,GSR Rate,School 2 (For some),Overall G,Overall W,Overall L,Overall W-L%
0,Abilene Christian University,57-e,0.57,Abilene Christian,31,11,20,0.355
1,Alabama A&M University,33-c,0.33,Alabama A&M,30,14,16,0.467
2,Alabama State University,45-c,0.45,Alabama State,32,19,13,0.594
3,Alcorn State University,55-c,0.55,Alcorn State,31,12,19,0.387
4,American University,93-c,0.93,American NCAA,33,20,13,0.606

In [11]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1.0]
labels = [5, 4, 3, 2, 1]  # Lower number = better category

# Apply categorization
df2['Win Category'] = pd.cut(df2['Overall W-L%'], bins=bins, labels=labels, include_lowest=True, right=False)

# Optional: convert category to int
df2['Win Category'] = df2['Win Category'].astype(float)

In [12]:
df2.head()

,School,4-Class,GSR Rate,School 2 (For some),Overall G,Overall W,Overall L,Overall W-L%,Win Category
0,Abilene Christian University,57-e,0.57,Abilene Christian,31,11,20,0.355,4.0
1,Alabama A&M University,33-c,0.33,Alabama A&M,30,14,16,0.467,3.0
2,Alabama State University,45-c,0.45,Alabama State,32,19,13,0.594,3.0
3,Alcorn State University,55-c,0.55,Alcorn State,31,12,19,0.387,4.0
4,American University,93-c,0.93,American NCAA,33,20,13,0.606,2.0

In [13]:
df2["Win Category"].value_counts().sort_index()

Win Category
1.0     14
2.0     99
3.0    141
4.0     79
5.0     12
Name: count, dtype: int64

In [14]:
# Group by Win Category and calculate the average GSR Percentage
avg_gsr_by_win_category = df2.groupby("Win Category")["GSR Rate"].mean().reset_index()

# Optional: Rename columns for clarity
avg_gsr_by_win_category.columns = ["Win Category", "Average GSR Percentage"]

# Display result
print(avg_gsr_by_win_category)

   Win Category  Average GSR Percentage
0           1.0                0.672857
1           2.0                0.750000
2           3.0                0.734326
3           4.0                0.719747
4           5.0                0.615833

In [15]:
# Group by Win Category and calculate the average GSR Percentage
avg_gsr_by_win_category = df2.groupby("Win Category")["GSR Rate"].median().reset_index()

# Optional: Rename columns for clarity
avg_gsr_by_win_category.columns = ["Win Category", "Average GSR Percentage"]

# Display result
print(avg_gsr_by_win_category)

   Win Category  Average GSR Percentage
0           1.0                   0.635
1           2.0                   0.780
2           3.0                   0.750
3           4.0                   0.710
4           5.0                   0.655

In [16]:
overall_median = df2["GSR Rate"].median()
print(f"📊 Overall median GSR Rate: {overall_median:.2f}")

📊 Overall median GSR Rate: 0.75

In [21]:
overall_median = df["GSR Rate"].median()
print(f"📊 Overall median GSR Rate: {overall_median:.2f}")

📊 Overall median GSR Rate: 0.91

In [17]:
# Strip whitespace from column names
df2.columns = df2.columns.str.strip()

# Convert GSR Percentage to numeric
df2["GSR Rate"] = pd.to_numeric(df2["GSR Rate"], errors='coerce')

# Filter values that are 0.9 or higher (i.e., 90%+)
over_90_df = df2[df2["GSR Rate"] >= 0.9]

# Display result
print(over_90_df)

                           School 4-Class  GSR Rate    School 2 (For some)  \
4             American University    93-c      0.93          American NCAA
9    Austin Peay State University    92-c      0.92            Austin Peay
11              Baylor University    92-c      0.92            Baylor NCAA
12             Belmont University   100-b      1.00                Belmont
17              Boston University   100-c      1.00      Boston University
..                            ...     ...       ...                    ...
328                Wagner College    92-c      0.92                 Wagner
336   Western Michigan University   100-b      1.00  Western Michigan NCAA
339           Winthrop University   100-c      1.00               Winthrop
340               Wofford College    91-c      0.91           Wofford NCAA
343               Yale University    95-d      0.95                   Yale

     Overall G  Overall W  Overall L  Overall W-L%  Win Category
4           33         20         13         0.606           2.0
9           30         12         18         0.400           3.0
11          38         26         12         0.684           2.0
12          36         26         10         0.722           2.0
17          35         24         11         0.686           2.0
..         ...        ...        ...           ...           ...
328         31         19         12         0.613           2.0
336         33         23         10         0.697           2.0
339         33         20         13         0.606           2.0
340         33         20         13         0.606           2.0
343         33         19         14         0.576           3.0

[78 rows x 9 columns]

In [18]:
count_over_90 = len(over_90_df)
print(f"Number of schools with GSR ≥ 90%: {count_over_90}")

Number of schools with GSR ≥ 90%: 78

In [19]:
# Strip whitespace from column names
df.columns = df.columns.str.strip()

# Convert GSR Percentage to numeric
df["GSR Rate"] = pd.to_numeric(df["GSR Rate"], errors='coerce')

# Filter values that are 0.9 or higher (i.e., 90%+)
Womenover_90_df = df[df["GSR Rate"] >= 0.9]

# Display result
print(Womenover_90_df)

                           School 4-Class  GSR Rate            School.1  \
0    Abilene Christian University    92-c      0.92   Abilene Christian
2        Alabama State University    91-c      0.91       Alabama State
4             American University   100-c      1.00            American
6        Arizona State University    93-c      0.93  Arizona State NCAA
8               Auburn University   100-c      1.00              Auburn
..                            ...     ...       ...                 ...
333   Western Illinois University    93-c      0.93    Western Illinois
336      Wichita State University    93-c      0.93  Wichita State NCAA
337                William & Mary   100-c      1.00      William & Mary
339               Wofford College   100-c      1.00             Wofford
342               Yale University   100-d      1.00                Yale

     Overall G  Overall W  Overall L  Overall W-L%  Win Category
0           30         18         12         0.600           2.0
2           30         16         14         0.533           3.0
4           32         22         10         0.688           2.0
6           33         23         10         0.697           2.0
8           34         19         15         0.559           3.0
..         ...        ...        ...           ...           ...
333         30         14         16         0.467           3.0
336         33         26          7         0.788           2.0
337         29          8         21         0.276           4.0
339         29          6         23         0.207           4.0
342         28         13         15         0.464           3.0

[176 rows x 9 columns]

In [20]:
Womencount_over_90 = len(Womenover_90_df)
print(f"Number of schools with GSR ≥ 90%: {Womencount_over_90}")

Number of schools with GSR ≥ 90%: 176